a {
    cursor: pointer;
}
td.filter-cell select,
td.filter-cell input{
    padding: 0.02rem 0.3rem;
    border-color: #e5e5e5;
    font-size: 13px;
    height: auto !important;
}
.left-menu div{
    height: 100%;
}
.page {
    background: #ffffff;
    border-radius: 5px;
}
.page-container {
    background: #e6ebf3;
    min-height: calc(100vh - 56px);
}
header > .navbar {
    justify-content: flex-start;
}
.sales-page #root {
    font-size: 13px;
    font-family: "Open Sans";
    color: #000000;
}
.sales-page tbody {
    border-top: 1px solid #f4f5f5;
    border-bottom: 1px solid #f4f5f5;
}
.sales-page table td {
    font-size: 13px;
    font-family: "Open Sans";
}
.sales-page td {
    border: none;
}
.sales-page .pager-view {
    padding: 0.75rem;
}
.viewNumber a{
    color: #e6ebf3 !important;
}
.viewNumber a.active {
    color: #1763ff !important;
}

.viewPager button {
    background: none;
    border: none;
    cursor: pointer;
}