a {
    cursor: pointer;
}
td.filter-cell select,
td.filter-cell input{
    padding: 0.02rem 0.3rem;
    border-color: #a1a1a1;
    font-size: 13px;
    height: auto !important;
}
.left-menu div{
    height: 100%;
}
.page {
    background: #ffffff;
    border-radius: 5px;
}
.page-container {
    background: #e6ebf3;
    min-height: calc(100vh - 56px);
}
header > .navbar {
    justify-content: flex-start;
}
.sales-page #root {
    font-size: 13px;
    font-family: "Open Sans";
    color: #000000;
}
.sales-page tbody {
    border-top: 1px solid #a1a1a1;
    border-bottom: 1px solid #a1a1a1;
}
.sales-page table td {
    font-size: 13px;
    font-family: "Open Sans";
    position: relative;
}
.sales-page td {
    border: none;
}
.sales-page .pager-view {
    padding: 0.75rem;
}
.viewNumber a{
    color: #a1a1a1 !important;
}
.viewNumber a.active {
    color: #1763ff !important;
    font-weight: bold;
}

.viewPager button {
    background: none;
    border: none;
    cursor: pointer;
}
.curr-site-cell {
    min-width: 100px;
}


img.clear-date {
    max-width: 10px;
    position: absolute;
    right: 15px;
    bottom: 25px;
}
.filter-cell.date .layout {
    width: 80%;
}
.filter-cell.date .layout div {
    margin: 0;
}
.table-responsive {
    /*overflow-x: unset;*/
}
.v-menu__content {
    top: 0 !important;
    left: 0 !important;
}
.v-picker__title.primary {
    background: blue;
}
.v-picker__body {
    background: white;
    overflow-y: unset;
}