#app.user {
    font-family: "Open Sans";
    font-size: 13px;
}
a {
    cursor: pointer;
}
label.required {
    position: relative;
}
label.required:after {
    position: absolute;
    display: block;
    content: '*';
    top: -2px;
    right: -7px;
    font-size: 10px;
    color: red;
}
.user #line-form ul {
    justify-content: center;
}
.user select.form-control {
    height: 22px !important;
}
select {
    background: url('/img/drop.svg') no-repeat right center / auto 10px;
}
.user .col-md-1 {
    margin: 0;
    text-align: center;
    position: relative;
}
.user .col-md-1:after {
    content: '';
    display: block;
    position: absolute;
    right: 1px;
    top: 0;
    height: 100%;
    width: 1px;
    background: #e5e5e5;
}
.user .col-md-1:last-child:after {
    display: none;
}
.user .form-control {
    border-color: #e5e5e5;
    padding: 0.02rem 0.1rem;
    height: auto !important;
    font-size: 13px;
    text-align: center;
    border: none;
    color: #000000;
    font-weight: bold;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.user .form-control:focus {
    box-shadow: none;
}
input::placeholder {
    color: #a1a1a1;
    font-weight: lighter;
}
.user .btn {
    font-size: 13px;
    padding: 0.02rem 0.3rem;
}
.user .content {
    padding: 0;
}
.user tbody {
    border-top: 1px solid #f4f5f5;
    border-bottom: 1px solid #f4f5f5;
}
.user td {
    border: none;
}
.budget-td {
    min-width: 95px;
}
.viewNumber a{
    color: #e6ebf3 !important;
}
.viewNumber a.active {
    color: #1763ff !important;
}
.viewPager button {
    background: none;
    border: none;
    cursor: pointer;
}
.content-wrap,
.form-wrapper {
    background: #fff;
    border-radius: 5px;
}
.pager-view {
    padding: 0.75rem;
}