label.required {
    position: relative;
}
label.required:after {
    position: absolute;
    display: block;
    content: '*';
    top: -2px;
    right: -10px;
    font-size: 20px;
    color: red;
}
a {
    cursor: pointer;
}
td.sourse input{
    padding: 0.02rem 0.3rem;
}