#app div,
#app a {
    color: #404447;
}
header {
    background: #ffffff;
}
#app {
    max-height: 100vh;
    overflow: hidden;
}
.page-content {
    height: calc(100vh - 50px);
}
.page-container {
    background: #ffffff;
}
.navbar {
    background: none;
}
.sidebar {
    background: url('../img/stars.png') no-repeat 0 95%;
}
.sidebar .active a {
    background: none !important;
    color: #ffd134 !important;
}
.viewPager a,
.viewNumber a {
    padding: 5px;
    border: 1px solid #ebebeb;
}
.viewNumber a:hover {
    background: #000;
    color: #ffffff;
}
.viewNumber a.active {
    color: #ffffff !important;
    background: #f8dd3f;
}
.table thead td {
    border-top: none;
    font-weight: bold;
}
button.sbm-button {
    background: #f8dd3f;
    color: #fff;
    border: none;
    box-shadow: none !important;
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 15px;
    text-transform: none;
}
.sbm-button div.v-btn__content {
    color: #fff !important;
}
button.sbm-button:hover {
    background: #000;
}